[tool.ruff]
line-length = 88
target-version="py314"

[tool.ruff.lint]
select = [
    "E",    # pycodestyle errors
    "F",    # Pyflakes
    "W",    # pycodestyle warnings
    "I",    # isort
    "N",    # pep8-naming
    "UP",   # pyupgrade
    "B",    # flake8-bugbear
    "C4",   # flake8-comprehensions
    "SIM",  # flake8-simplify
    "ANN",  # flake8-annotations
    "PL",   # Pylint rules (maximizes pylint coverage)
]

[tool.ruff.format]
quote-style = "double"
indent-style = "space"
[tool.ty]
target-version="py314"
